h2{
background-image: linear-gradient(to right,#3ca55c, #b5ac49);
color: transparent;
background-clip: text;
font-family: Georgia, 'Times New Roman', Times, serif;

}


h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}